body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 my-power{
     width: 100vw;
     height: 50vh;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
         }
  