@font-face {
    font-family: "vazir";
    src: url(../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff);
}
 body{
    height: 100vh;
     font-family: "vazir";
    overflow-x: hidden;
 }
 .nav-link:hover{
     color: rgb(85, 83, 83);
     border-radius: 10%;
 }
.markWEB{
    user-select: none;
} 